/* screen - booking-without-destination */

.booking-without-destination {
  background-color: var(--white);
  height: 896px;
  overflow: hidden;
  position: relative;
  width: 414px;
}
.booking-without-destination .arrowforward-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 198px;
  position: absolute;
  top: 685px;
  width: 18px;
}
.booking-without-destination .back-meduim-C61RwL {
  background-color: transparent;
  height: 23px;
  left: 6px;
  position: absolute;
  top: 55px;
  width: 23px;
}
.booking-without-destination .background-EAWbTs {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.booking-without-destination .background-yebu2n {
  background-color: transparent;
  border-radius: 13px;
  height: calc(100.00% + 180px);
  left: -90px;
  position: absolute;
  top: -80px;
  width: calc(100.00% + 180px);
}
.booking-without-destination .bars-navig-arge-title-C61RwL {
  background-color: transparent;
  height: 140px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 414px;
}
.booking-without-destination .bg-2TZlVx {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -11px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 22px);
}
.booking-without-destination .bg-5R4FB1 {
  background-color: var(--white);
  height: calc(100.00% + 44px);
  left: -16px;
  opacity: 0;
  position: relative;
  top: -10px;
  width: calc(100.00% + 44px);
}
.booking-without-destination .bg-5WPhVT {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -16px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 32px);
}
.booking-without-destination .bg-AbhSSq {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -19px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 32px);
}
.booking-without-destination .bg-Cj1aEl {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -12px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 24px);
}
.booking-without-destination .bg-F8PPVX {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -16px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 32px);
}
.booking-without-destination .bg-FzBqUr {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -12px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 24px);
}
.booking-without-destination .bg-G3l9Bb {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  opacity: 0;
  position: absolute;
  right: -16px;
  top: -10px;
  width: 44px;
}
.booking-without-destination .bg-IKnBzZ {
  background-color: var(--white);
  height: calc(100.00% + 44px);
  left: -10px;
  opacity: 0;
  position: relative;
  top: -10px;
  width: calc(100.00% + 44px);
}
.booking-without-destination .bg-L4vzTV {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -12px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 24px);
}
.booking-without-destination .bg-ObzCNl {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -11px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 22px);
}
.booking-without-destination .bg-Sq1BoA {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -16px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 32px);
}
.booking-without-destination .bg-Sv4Gz6 {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -12px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 24px);
}
.booking-without-destination .bg-Ta8ZT6 {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -11px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 22px);
}
.booking-without-destination .bg-W6DbBJ {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -11px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 22px);
}
.booking-without-destination .bg-Zh7wSs {
  background-color: var(--white);
  bottom: -44px;
  height: 44px;
  opacity: 0;
  position: absolute;
  right: -44px;
  width: 44px;
}
.booking-without-destination .bg-dsLxRm {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -12px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 24px);
}
.booking-without-destination .bg-eaczzm {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -14px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 28px);
}
.booking-without-destination .bg-exaa5x {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -12px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 24px);
}
.booking-without-destination .bg-gDxPbk {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -11px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 22px);
}
.booking-without-destination .bg-hwOg8C {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -12px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 24px);
}
.booking-without-destination .bg-i6xoRQ {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -12px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 24px);
}
.booking-without-destination .bg-jMDHzF {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -11px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 22px);
}
.booking-without-destination .bg-kjcJDS {
  background-color: var(--white);
  height: calc(100.00% + 44px);
  left: -11px;
  opacity: 0;
  position: relative;
  top: -10px;
  width: calc(100.00% + 44px);
}
.booking-without-destination .bg-lQqRqm {
  background-color: var(--white);
  height: calc(100.00% + 44px);
  left: -11px;
  opacity: 0;
  position: relative;
  top: -10px;
  width: calc(100.00% + 44px);
}
.booking-without-destination .bg-mDjvjM {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -11px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 22px);
}
.booking-without-destination .bg-nyCAKL {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -11px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 22px);
}
.booking-without-destination .bg-r91xlY {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -16px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 32px);
}
.booking-without-destination .bg-rxhDVg {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -12px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 24px);
}
.booking-without-destination .bg-uVN1gW {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -21px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 34px);
}
.booking-without-destination .bg-vXGIX7 {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -11px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 22px);
}
.booking-without-destination .bg-xdg7nj {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -18px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 32px);
}
.booking-without-destination .bg-xwWH1s {
  background-color: var(--white);
  height: calc(100.00% + 21px);
  left: -13px;
  opacity: 0;
  position: absolute;
  top: -10px;
  width: calc(100.00% + 26px);
}
.booking-without-destination .booking-PBxZUg {
  background-color: transparent;
  bottom: 6px;
  color: var(--black);
  height: 42px;
  left: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 131px;
}
.booking-without-destination .day-10-CxQCAj {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(49.85% - 5px);
  top: 0px;
  width: 10px;
}
.booking-without-destination .day-11-CxQCAj {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(34.35% - 4px);
  top: 0px;
  width: 12px;
}
.booking-without-destination .day-12-CxQCAj {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(17.93% - 2px);
  top: 0px;
  width: 12px;
}
.booking-without-destination .day-13-CxQCAj {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
}
.booking-without-destination .day-14-u7EeiT {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.booking-without-destination .day-15-u7EeiT {
  background-color: transparent;
  height: 100%;
  left: calc(16.05% - 3px);
  position: absolute;
  top: 0px;
  width: 20px;
}
.booking-without-destination .day-16-u7EeiT {
  background-color: transparent;
  height: 100%;
  left: calc(33.02% - 7px);
  position: absolute;
  top: 0px;
  width: 20px;
}
.booking-without-destination .day-17-u7EeiT {
  background-color: transparent;
  height: 100%;
  left: calc(49.69% - 10px);
  position: absolute;
  top: 0px;
  width: 20px;
}
.booking-without-destination .day-18-u7EeiT {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(33.33% - 7px);
  top: 0px;
  width: 20px;
}
.booking-without-destination .day-19-u7EeiT {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(16.67% - 3px);
  top: 0px;
  width: 20px;
}
.booking-without-destination .day-20-u7EeiT {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 18px;
}
.booking-without-destination .day-21-21qD9L {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.booking-without-destination .day-21-u1hB1U {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 22px;
}
.booking-without-destination .day-22-21qD9L {
  background-color: transparent;
  height: 100%;
  left: calc(16.46% - 3px);
  position: absolute;
  top: 0px;
  width: 20px;
}
.booking-without-destination .day-22-u1hB1U {
  background-color: transparent;
  height: 100%;
  left: calc(26.61% - 6px);
  position: absolute;
  top: 0px;
  width: 22px;
}
.booking-without-destination .day-23-21qD9L {
  background-color: transparent;
  height: 100%;
  left: calc(33.13% - 7px);
  position: absolute;
  top: 0px;
  width: 22px;
}
.booking-without-destination .day-23-u1hB1U {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 11px);
  position: absolute;
  top: 0px;
  width: 22px;
}
.booking-without-destination .day-24-21qD9L {
  background-color: transparent;
  height: 100%;
  left: calc(49.70% - 10px);
  position: absolute;
  top: 0px;
  width: 20px;
}
.booking-without-destination .day-24-u1hB1U {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(25.23% - 6px);
  top: 0px;
  width: 22px;
}
.booking-without-destination .day-25-21qD9L {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(33.44% - 7px);
  top: 0px;
  width: 22px;
}
.booking-without-destination .day-25-u1hB1U {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 22px;
}
.booking-without-destination .day-26-21qD9L {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(16.87% - 4px);
  top: 0px;
  width: 22px;
}
.booking-without-destination .day-26-u1hB1U {
  background-color: transparent;
  height: 0px;
  position: absolute;
  right: -32px;
  top: 0px;
  width: 0px;
}
.booking-without-destination .day-27-21qD9L {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 22px;
}
.booking-without-destination .day-27-u1hB1U {
  background-color: transparent;
  height: 0px;
  position: absolute;
  right: -87px;
  top: 0px;
  width: 0px;
}
.booking-without-destination .day-3-XtblLg {
  background-color: transparent;
  height: 0px;
  left: -38px;
  position: absolute;
  top: 0px;
  width: 0px;
}
.booking-without-destination .day-30-jcejLM {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: -95px;
  top: 0px;
  width: 0px;
}
.booking-without-destination .day-4-XRTa7A {
  background-color: var(--white);
  background-image: url(../img/colour-1@1x.png);
  background-size: 100% 100%;
  bottom: 0px;
  height: 44px;
  left: calc(45.95% - 20px);
  position: absolute;
  width: 44px;
}
.booking-without-destination .day-4-XtblLg {
  background-color: transparent;
  height: 0px;
  left: -22px;
  position: absolute;
  top: -10px;
  width: 0px;
}
.booking-without-destination .day-5-XtblLg {
  background-color: transparent;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 62px;
}
.booking-without-destination .day-6-XtblLg {
  background-color: transparent;
  height: 23px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 12px;
}
.booking-without-destination .day-7-CxQCAj {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 12px;
}
.booking-without-destination .day-8-CxQCAj {
  background-color: transparent;
  height: 100%;
  left: 56px;
  position: absolute;
  top: 0px;
  width: 12px;
}
.booking-without-destination .day-9-CxQCAj {
  background-color: transparent;
  height: 100%;
  left: calc(33.43% - 4px);
  position: absolute;
  top: 0px;
  width: 12px;
}
.booking-without-destination .fri-rTwSIF {
  background-color: transparent;
  height: 17px;
  position: absolute;
  right: calc(16.97% - 4px);
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: 23px;
}
.booking-without-destination .group-28-C61RwL {
  background-color: transparent;
  height: 85px;
  left: 259px;
  position: absolute;
  top: 645px;
  width: 48px;
}
.booking-without-destination .group-81-C61RwL {
  background-color: transparent;
  height: 85px;
  left: 27px;
  position: absolute;
  top: 645px;
  width: 110px;
}
.booking-without-destination .info-C61RwL {
  background-color: var(--azure-radiance);
  height: 144px;
  left: 370px;
  position: absolute;
  top: 44px;
  width: 44px;
}
.booking-without-destination .large-title-2hfB6v {
  background-color: transparent;
  bottom: calc(14.62% - 3px);
  color: var(--azure-radiance);
  font-size: 15px;
  height: 20px;
  left: 37.50%;
  line-height: 41px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 16.67%;
}
.booking-without-destination .large-title-7olElM {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: 20px;
  left: 0.93%;
  line-height: 41px;
  position: absolute;
  text-align: left;
  top: calc(16.15% - 3px);
  white-space: nowrap;
  width: 100.93%;
}
.booking-without-destination .large-title-KgGBgj {
  background-color: transparent;
  bottom: calc(117.69% - 24px);
  color: var(--azure-radiance);
  font-size: 15px;
  height: 20px;
  left: 6.25%;
  line-height: 41px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 35.42%;
}
.booking-without-destination .large-title-NRAddl {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: 20px;
  left: 6.52%;
  line-height: 41px;
  position: absolute;
  text-align: left;
  top: calc(16.15% - 3px);
  white-space: nowrap;
  width: 97.83%;
}
.booking-without-destination .large-title-Pe7Wua {
  background-color: transparent;
  bottom: calc(14.62% - 3px);
  color: var(--azure-radiance);
  font-size: 15px;
  height: 20px;
  left: 16.36%;
  line-height: 41px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 7.27%;
}
.booking-without-destination .large-title-bMwMxt {
  background-color: transparent;
  bottom: calc(117.69% - 24px);
  color: var(--azure-radiance);
  font-size: 15px;
  height: 20px;
  left: 0.91%;
  line-height: 41px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 31.82%;
}
.booking-without-destination .large-title-pH8537 {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: 20px;
  left: 16.36%;
  line-height: 41px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 10px);
  white-space: nowrap;
  width: 7.27%;
}
.booking-without-destination .large-title-z1PsiG {
  background-color: transparent;
  color: var(--black);
  font-size: 15px;
  height: 20px;
  left: 37.50%;
  line-height: 41px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 10px);
  white-space: nowrap;
  width: 16.67%;
}
.booking-without-destination .left-accessory-PBxZUg {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: absolute;
  top: calc(45.83% - 20px);
  width: 180px;
}
.booking-without-destination .mon-rTwSIF {
  background-color: transparent;
  height: 17px;
  left: 45px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: 34px;
}
.booking-without-destination .month-and-year-yebu2n {
  background-color: transparent;
  height: 24px;
  left: 16px;
  position: absolute;
  top: 13px;
  width: 129px;
}
.booking-without-destination .month-yebu2n {
  background-color: transparent;
  height: 270px;
  left: 15px;
  position: absolute;
  top: 53px;
  width: calc(100.00% - 30px);
}
.booking-without-destination .navigation-background-PBxZUg {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.booking-without-destination .october-2020-oe30j2 {
  background-color: transparent;
  color: var(--black);
  font-family: 'SFPro Display-Semibold', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .parent-title-iN4sVF {
  background-color: transparent;
  height: 22px;
  left: 26px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 11px);
  white-space: nowrap;
  width: 40px;
}
.booking-without-destination .picker-compact-light-C61RwL {
  background-color: transparent;
  height: 380px;
  left: 16px;
  position: absolute;
  top: 158px;
  width: 382px;
}
.booking-without-destination .sat-rTwSIF {
  background-color: transparent;
  height: 17px;
  position: absolute;
  right: -1px;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: 27px;
}
.booking-without-destination .sun-rTwSIF {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: 30px;
}
.booking-without-destination .thu-rTwSIF {
  background-color: transparent;
  height: 17px;
  position: absolute;
  right: calc(33.13% - 10px);
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: 30px;
}
.booking-without-destination .time-4DY9tO {
  background-color: transparent;
  bottom: calc(30.00% - 8px);
  color: var(--black);
  font-family: 'SFPro Display-Semibold', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 0px;
  letter-spacing: 0.32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 47px;
}
.booking-without-destination .time-picker-4DY9tO {
  background-color: rgba(118,118,128,0.122);
  border-radius: 6px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 86px;
}
.booking-without-destination .time-picker-inline-yebu2n {
  background-color: transparent;
  bottom: 16px;
  height: 36px;
  left: 16px;
  position: absolute;
  width: 226px;
}
.booking-without-destination .tram-fill-copy-7olElM {
  background-color: transparent;
  bottom: calc(35.21% - 5px);
  height: 14px;
  left: 0px;
  position: absolute;
  width: 14px;
}
.booking-without-destination .tram-fill-copy-NRAddl {
  background-color: transparent;
  bottom: calc(35.21% - 5px);
  height: 14px;
  left: 0px;
  position: absolute;
  width: 14px;
}
.booking-without-destination .tue-rTwSIF {
  background-color: transparent;
  height: 17px;
  left: calc(33.54% - 9px);
  position: absolute;
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: 28px;
}
.booking-without-destination .wed-rTwSIF {
  background-color: transparent;
  height: 17px;
  position: absolute;
  right: calc(49.69% - 16px);
  text-align: left;
  top: -4px;
  white-space: nowrap;
  width: 33px;
}
.booking-without-destination .week-1-rTwSIF {
  background-color: transparent;
  height: calc(100.00% - 40px);
  position: absolute;
  right: 5px;
  top: 40px;
  width: 118px;
}
.booking-without-destination .week-2-rTwSIF {
  background-color: transparent;
  height: 23px;
  left: 10px;
  position: absolute;
  top: calc(36.03% - 8px);
  width: calc(100.00% - 11px);
}
.booking-without-destination .week-3-rTwSIF {
  background-color: transparent;
  bottom: calc(44.13% - 10px);
  height: 23px;
  left: 6px;
  position: absolute;
  width: calc(100.00% - 8px);
}
.booking-without-destination .week-4-rTwSIF {
  background-color: transparent;
  bottom: calc(24.29% - 6px);
  height: 23px;
  left: 4px;
  position: absolute;
  width: calc(100.00% - 4px);
}
.booking-without-destination .week-4-uxLCbl {
  background-color: transparent;
  bottom: 11px;
  height: 23px;
  left: 1px;
  position: absolute;
  width: 240px;
}
.booking-without-destination .week-5-rTwSIF {
  background-color: transparent;
  bottom: 34px;
  height: 0px;
  left: 3px;
  position: absolute;
  width: 0px;
}
.booking-without-destination .x-fFT1hT {
  background-color: transparent;
  color: var(--black);
  font-family: 'SFPro Display-Regular', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: 28px;
  letter-spacing: 0.35px;
  line-height: 22px;
  position: absolute;
  right: calc(49.37% - 3px);
  text-align: right;
  top: 6px;
  white-space: nowrap;
  width: 7px;
}
.booking-without-destination .x09-fFT1hT {
  background-color: transparent;
  color: var(--black);
  font-family: 'SFPro Display-Regular', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% - 8px);
  left: 8px;
  letter-spacing: 1.01px;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 7px;
  white-space: nowrap;
  width: 30px;
}
.booking-without-destination .x1-G3l9Bb {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 10px;
}
.booking-without-destination .x10-hwOg8C {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x11-eaczzm {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x12-Cj1aEl {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x13-FzBqUr {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x14-exaa5x {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x15-rxhDVg {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x16-i6xoRQ {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x17-xwWH1s {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x18-Sv4Gz6 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x19-dsLxRm {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x2-G3l9Bb {
  background-color: transparent;
  height: calc(100.00% + 2px);
  position: absolute;
  right: -2px;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 14px;
}
.booking-without-destination .x20-W6DbBJ {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x21-L4vzTV {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x22-mDjvjM {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x23-vXGIX7 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x24-2TZlVx {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x25-gDxPbk {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x26-ObzCNl {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x27-jMDHzF {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x28-Ta8ZT6 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x29-nyCAKL {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x3-r91xlY {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x30-oZfUs1 {
  background-color: transparent;
  bottom: calc(11.54% - 4px);
  color: var(--azure-radiance);
  font-family: 'SFPro Text-Medium', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  height: 31px;
  left: 6px;
  letter-spacing: 0.14px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 10px);
}
.booking-without-destination .x4-xdg7nj {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x41-fFT1hT {
  background-color: transparent;
  color: var(--black);
  font-family: 'SFPro Display-Regular', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% - 8px);
  letter-spacing: 1.01px;
  line-height: 22px;
  position: absolute;
  right: 9px;
  text-align: right;
  top: 7px;
  white-space: nowrap;
  width: 26px;
}
.booking-without-destination .x5-F8PPVX {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x6-AbhSSq {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x7-uVN1gW {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x8-5WPhVT {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.booking-without-destination .x9-Sq1BoA {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.border-class-1 {
  border: 1px solid transparent;
}
.border-class-2 {
  border: 1px solid var(--black);
}
.font-class-1 {
  font-family: 'SFPro Display-Medium', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
}
.font-class-10 {
  color: var(--coral-red);
  font-family: 'SFPro Text-Medium', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;
  line-height: 20px;
}
.font-class-2 {
  color: var(--black);
  font-family: 'SFPro Text-Regular', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.87px;
  line-height: 22px;
}
.font-class-3 {
  font-family: 'SFPro Display-Bold', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.font-class-4 {
  color: var(--black);
  font-family: 'SFPro Display-Regular', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.29px;
  line-height: 25px;
}
.font-class-5 {
  font-family: 'SFPro Text-Medium', Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.41px;
  line-height: 22px;
}
.font-class-6 {
  font-family: 'SFPro Display-Bold', Helvetica, Arial, serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.27px;
  line-height: 41px;
}
.font-class-7 {
  color: var(--azure-radiance);
  font-family: 'SFPro Text-Regular', Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.54px;
  line-height: 22px;
}
.font-class-8 {
  color: var(--ship-gray-2);
  font-family: 'SFPro Text-Semibold', Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 22px;
}
.font-class-9 {
  color: var(--black);
  font-family: 'SFPro Text-Semibold', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.30px;
  line-height: 15px;
}
:root {
  --azure-radiance: rgba(0,122,255,1.0);
  --black: rgba(0,0,0,1.0);
  --coral-red: rgba(255,69,58,0.6);
  --oslo-gray: rgba(138,138,142,1.0);
  --pizazz: rgba(253,147,0,1.0);
  --pizazz-2: rgba(255,149,0,1.0);
  --ship-gray: rgba(60,60,67,0.29);
  --ship-gray-2: rgba(60,60,67,0.302);
  --ship-gray-3: rgba(60,60,67,1.0);
  --white: rgba(255,255,255,1.0);
}