/* screen - splash-screen */

.border-class-1 {
  border: 1px solid transparent;
}
.border-class-2 {
  border: 1px solid var(--black);
}
.font-class-1 {
  font-family: 'SFPro Display-Medium', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
}
.font-class-10 {
  color: var(--coral-red);
  font-family: 'SFPro Text-Medium', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;
  line-height: 20px;
}
.font-class-2 {
  color: var(--black);
  font-family: 'SFPro Text-Regular', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.87px;
  line-height: 22px;
}
.font-class-3 {
  font-family: 'SFPro Display-Bold', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.font-class-4 {
  color: var(--black);
  font-family: 'SFPro Display-Regular', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.29px;
  line-height: 25px;
}
.font-class-5 {
  font-family: 'SFPro Text-Medium', Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.41px;
  line-height: 22px;
}
.font-class-6 {
  font-family: 'SFPro Display-Bold', Helvetica, Arial, serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.27px;
  line-height: 41px;
}
.font-class-7 {
  color: var(--azure-radiance);
  font-family: 'SFPro Text-Regular', Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.54px;
  line-height: 22px;
}
.font-class-8 {
  color: var(--ship-gray-2);
  font-family: 'SFPro Text-Semibold', Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 22px;
}
.font-class-9 {
  color: var(--black);
  font-family: 'SFPro Text-Semibold', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.30px;
  line-height: 15px;
}
.splash-screen {
  background-color: var(--white);
  height: 896px;
  overflow: hidden;
  position: relative;
  width: 414px;
}
.splash-screen .button-GtckxY {
  background-color: transparent;
  border-radius: 8px;
  height: calc(100.00% + 18px);
  left: -9px;
  position: absolute;
  top: -6px;
  width: calc(100.00% + 18px);
}
.splash-screen .button-shape-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 186px;
  position: absolute;
  top: 750px;
  width: 46px;
}
.splash-screen .button-shape-VMr6Om {
  background-color: transparent;
  height: 50px;
  left: 44px;
  pointer-events: auto;
  position: absolute;
  top: 797px;
  transition: all 0.2s ease;
  width: 329px;
}
.splash-screen .button-shape-VMr6Om:hover {

transform: scale(1.1);
}
.splash-screen .done-pvgYHY {
  background-color: transparent;
  color: var(--white);
  font-family: 'SFPro Text-Semibold', Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: -0.10px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.splash-screen .group-89-C61RwL {
  background-color: transparent;
  height: 333px;
  left: 51px;
  position: absolute;
  top: 300px;
  width: 303px;
}
.splash-screen .headline-4Z1Vqa {
  background-color: transparent;
  bottom: calc(33.90% - 13px);
  color: var(--black);
  font-family: 'SFPro Display-Light', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  height: 38px;
  left: 23.26%;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 77.08%;
}
.splash-screen .headline-5brNdF {
  background-color: transparent;
  color: var(--black);
  font-size: 17px;
  height: 22px;
  left: 23.26%;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 29.57%;
}
.splash-screen .headline-7R5tVg {
  background-color: transparent;
  color: var(--black);
  font-size: 17px;
  height: 22px;
  left: 23.10%;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: calc(27.33% - 6px);
  white-space: nowrap;
  width: 37.29%;
}
.splash-screen .headline-AxzbvL {
  background-color: transparent;
  color: var(--black);
  font-family: 'SFPro Display-Light', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  height: 38px;
  left: 23.26%;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: calc(8.81% - 3px);
  white-space: nowrap;
  width: 70.10%;
}
.splash-screen .headline-E4cAK9 {
  background-color: transparent;
  bottom: calc(45.98% - 10px);
  color: var(--black);
  font-size: 17px;
  height: 22px;
  left: 23.26%;
  line-height: 22px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 36.21%;
}
.splash-screen .headline-d2KLTZ {
  background-color: transparent;
  color: var(--black);
  font-family: 'SFPro Display-Light', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  height: 56px;
  left: 23.18%;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: calc(100.72% - 56px);
  white-space: nowrap;
  width: 77.15%;
}
.splash-screen .headline-kLjnud {
  background-color: transparent;
  bottom: calc(19.29% - 4px);
  color: var(--black);
  font-size: 17px;
  height: 22px;
  left: 23.18%;
  line-height: 22px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 24.83%;
}
.splash-screen .headline-qLQMax {
  background-color: transparent;
  color: var(--black);
  font-family: 'SFPro Display-Light', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  height: 38px;
  left: 23.10%;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: calc(37.63% - 14px);
  white-space: nowrap;
  width: 73.27%;
}
.splash-screen .large-title-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-size: 50px;
  height: auto;
  left: 96px;
  line-height: 41px;
  position: absolute;
  text-align: left;
  top: 184px;
  white-space: nowrap;
  width: auto;
}
.splash-screen .next-GtckxY {
  background-color: transparent;
  bottom: calc(42.86% - 9px);
  color: var(--white);
  font-family: 'SFPro Text-Semibold', Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  height: 22px;
  left: calc(49.83% - 20px);
  letter-spacing: -0.10px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 40px;
}
.splash-screen .search-5brNdF {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: calc(31.50% - 19px);
  width: 60px;
}
.splash-screen .search-AxzbvL {
  background-color: transparent;
  bottom: calc(37.00% - 22px);
  height: 60px;
  left: 0px;
  position: absolute;
  width: 60px;
}
.splash-screen .search-E4cAK9 {
  background-color: transparent;
  bottom: 15px;
  height: 60px;
  left: 0px;
  position: absolute;
  width: 60px;
}
.splash-screen .tram-5brNdF {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 60px;
}
:root {
  --azure-radiance: rgba(0,122,255,1.0);
  --black: rgba(0,0,0,1.0);
  --coral-red: rgba(255,69,58,0.6);
  --oslo-gray: rgba(138,138,142,1.0);
  --pizazz: rgba(253,147,0,1.0);
  --pizazz-2: rgba(255,149,0,1.0);
  --ship-gray: rgba(60,60,67,0.29);
  --ship-gray-2: rgba(60,60,67,0.302);
  --ship-gray-3: rgba(60,60,67,1.0);
  --white: rgba(255,255,255,1.0);
}